<!DOCTYPE html>
<html lang="pr-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" href="/../assets/favicon.svg">
  <title>Roger Luiz | Contate-me</title>

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/../styles/base.css">
  <link rel="stylesheet" href="/../styles/contact.css">

</head>
<body>

  <header class="header-general">
    <a href="/home" id="back-to-home">
      <img src="/../assets/left-arrow.svg" alt="">
    </a>

    <nav>
      <a href="https://github.com/roger3g" target="_blank">
        <img src="/../assets/github-icon.svg" alt="">
      </a>

      <a href="https://www.linkedin.com/in/roger-luiz/" target="_blank"> 
        <img src="/../assets/linkedin-icon.svg" alt="">
      </a>
      
      <a href="https://www.instagram.com/rogerluiz.dev/" target="_blank">
        <img src="/../assets/instagram-icon.svg" alt="">
      </a>
    </nav>
  </header>

  <main>
    <footer id="contact">
      <h2>Contate-me</h2>

      <section id="content">
        <p>Hey, achou algum bug no layout desse site ou algum outro erro? chame o desenvolvedor no Discord: <span class="mark">Roger Luiz#6588</span>.</p>

        <p>Podemos nos seguir no <a href="https://www.instagram.com/rogerluiz.dev/" target="_blank">instagram</a> ou no <a href="https://twitter.com/abantes_" target="_blank">twitter</a>.</p>
      </section>
    </footer>
  </main>

</body>
</html>