<!DOCTYPE html>
<html lang="pr-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" href="/../assets/favicon.svg">
  <title>Roger Luiz | Front-end Developer</title>

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/../styles/base.css">
  <link rel="stylesheet" href="/../styles/screenLoadRocket.css">
  <link rel="stylesheet" href="/../styles/home.css">

</head>
<body>

  <div class="screen-load">
    <div class="rocket">
      <img src="/../assets/rocket.png" alt="">
    </div>
  </div>

  <main id="content-main">
    <section id="cards">
      <a href="/about" class="card" id="card-about">
        <p>Sobre mim</p>

        <div class="image-card-container">
          <img src="/../assets/about-icon.svg" alt="Left arrow">
        </div>
      </a>

      <a href="/projects" class="card" id="card-projects">
        <p>Meus projetos</p>

        <div class="image-card-container">
          <img src="/../assets/projects-icon.svg" alt="Left arrow">
        </div>
      </a>

      <a href="/contact" class="card" id="card-contact">
        <p>Contate-me</p>

        <div class="image-card-container">
          <img src="/../assets/contact-icon.svg" alt="Left arrow">
        </div>
      </a>
    </section>

    <section id="image">
      <img src="/../assets/to-the-stars.svg" alt="Rocket Image">
    </section>
  </main>
  
  <script type="text/javascript" src="/../scripts/screenLoadRocket.js"></script>
</body>
</html>