$color-primary: #7159C1;
$color-secondary: #FD951F;
$color-tertiary: #04D361;
$color-background-light: #202024;
$color-background-dark: #121214;
$color-text: #A8A8B3;
$color-title: #F0F0F7;

:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-background-light;
    border-radius: 0.2rem;
  }
}

body {
  color: $color-text;
  background-color: $color-background-dark;
  font: 500 1.6rem Poppins;

  overflow: hidden;
}

h1, h2 {
  color: $color-title;
}

.mark {
  color: $color-secondary;
}

.title {
  font-size: 4rem;
}

// background: linear-gradient(to left, rgb(45, 38, 74), rgb(32, 32, 36));