$dark-light: #202024;
$dark-low: #121214;
$green: #04D361;
$green-light: #4FE090;
$green-low: #11251C;
$ice: #E1E1E6;
$gray: #A8A8B3;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  color: $gray;
  background-color: $dark-low;

  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 3.5rem;
    color: $ice;
  }

  p {
    font-size: 1.8rem;
  }

  a {
    color: $green-light;
  }

  span.block {
    display: block;
  }

  span.mark {
    color: $green;
  }
}

@media (max-width: 800px) {
  body {
    height: 70rem;
    align-items: flex-start;

    span.block {
      display: inline;
    }
  }
}