$dark-light: #202024;
$dark-low: #121214;
$green: #04D361;
$green-light: #4FE090;
$green-low: #11251C;
$ice: #E1E1E6;
$gray: #A8A8B3;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-light;
    border-radius: .2rem;
  }
}

body, button {
  font-family: 'Poppins', sans-serif;
}

body {
  color: $gray;
  background-color: $dark-low;

  h2 {
    font-size: 3.5rem;
  }

  h1, h3, h2 {
    color: $ice;
  }

  p {
    font-size: 1.8rem;
  }

  a {
    color: $green-light;
  }

  span.mark {
    color: $green;
  }

  span.block {
    display: block;
  }

  a.sr-only {
    position: absolute;
    width: .1rem;
    height: .1rem;
    border: .1rem solid red;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

@media (max-width: 1000px) {
  body {
    span.block {
      display: inline;
    }
  }
}