.about-me {
  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .content {
    p {
      width: 50rem;
      margin-bottom: 4rem;
    }
  }
}