.tab-content {
  width: 100%;
  height: 44rem;

  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  &>section {
    animation: up 1s;
  }

  #first, #second, #third {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #first {
    h2 {
      width: 26rem;
    }

    p {
      width: 43rem;
    }
  }

  #second {
    p {
      width: 35rem;
      text-align: center;
    }

    #btn-projects {
      width: 25rem;
      height: 7rem;

      border: .2rem solid $green-low;
      border-radius: .5rem;

      text-decoration: none;
      font-size: 1.8rem;

      box-shadow: inset 0 0 0 0 $green-low;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: ease-out .3s;

      &:hover {
        box-shadow: inset 25rem 0 0 0 $green-low;
      }
    }
  }

  #third {
    flex-direction: column;

    img {
      width: 25rem;
    }

    p {
      width: 70%;
      text-align: center;
    }
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .tab-content {
    height: 50rem;

    #first {
      flex-direction: column;

      h2 {
        width: 100%;
        text-align: center;
      }

      p {
        width: 90%;
        text-align: center;
      }
    }

    #second {
      flex-direction: column;
    }

    #third {
      p {
        width: 90%;
      }

      img {
        width: 25rem;
      }
    }
  }
}