.screen-load {
  width: 100vw;
  height: 100Vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  background-color: var(--color-black-dark);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-load i {
  position: absolute;
  top: -25rem;
  background-color: #F0F0F7;
  animation: animateStars linear infinite;
}

.screen-load .rocket {
  position: relative;
  animation: animate 0.2s ease infinite;
}

.screen-load .rocket::before {
  content: '';
  width: 1rem;
  height: 20rem;

  position: absolute;
  bottom: -20rem;
  left: 50%;

  background: linear-gradient(var(--color-tertiary), transparent);
  transform: translateX(-50%);
}

.screen-load .rocket::after {
  content: '';
  width: 1rem;
  height: 20rem;

  position: absolute;
  bottom: -20rem;
  left: 50%;

  background: linear-gradient(var(--color-tertiary), transparent);
  transform: translateX(-50%);

  filter: blur(2rem);
}

@keyframes animateStars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200vh);
  }
}

@keyframes animate {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}